<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smiler.member.dao2.user.UserMapper">
    <resultMap id="BaseResultMap" type="com.smiler.member.model.po.UserPo">
    <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="gender" jdbcType="TINYINT" property="gender"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,username,birthday,gender,address
    </sql>

    <select id="queryAllUsers" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from king_user
    </select>

    <select id="queryUserById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from smiler_user
        where id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

</mapper>